<div class="flex max-lg:flex-col items-center justify-center max-lg:w-full">
  <div class="hidden lg:flex items-center justify-center mx-6">
    <span class="leading-none inline-block h-5 w-[1px] rotate-[calc(45deg_/_2)] rounded-full bg-gray-300"></span>
  </div>

  <div class="navigationPart flex items-center justify-center max-lg:w-full">
    <nav class="flex items-center justify-center max-lg:w-full max-lg:flex-col max-lg:px-6">
      <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
      <a href="{% url 'dashboard_overview_page' %}" class="text-sm leading-none max-lg:leading-normal py-2.5 px-4 rounded-md duration-300 max-lg:!bg-transparent max-lg:hover:text-black max-lg:dark:hover:text-white {% if active == 'overview' %}text-black hover:text-black dark:text-white bg-white dark:bg-neutral-900 {% else %} text-gray-400 dark:text-white/50 dark:hover:text-white{% endif %} max-lg:w-full max-lg:py-3 max-lg:px-0">Overview</a>
      <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
      <a href="{% url 'dashboard_activity_page' %}" class="text-sm leading-none max-lg:leading-normal py-2.5 px-4 rounded-md duration-300 max-lg:!bg-transparent max-lg:hover:text-black max-lg:dark:hover:text-white {% if active == 'activity' %}text-black hover:text-black dark:text-white bg-white dark:bg-neutral-900 {% else %} text-gray-400 dark:text-white/50 dark:hover:text-white{% endif %} max-lg:w-full max-lg:py-3 max-lg:px-0">Activity</a>
      <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
      <a href="{% url 'dashboard_usage_page' %}" class="text-sm leading-none max-lg:leading-normal py-2.5 px-4 rounded-md duration-300 max-lg:!bg-transparent max-lg:hover:text-black max-lg:dark:hover:text-white {% if active == 'usage' %}text-black hover:text-black dark:text-white bg-white dark:bg-neutral-900 {% else %} text-gray-400 dark:text-white/50 dark:hover:text-white{% endif %} max-lg:w-full max-lg:py-3 max-lg:px-0">Usage</a>
      <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
      <a href="{% url 'dashboard_settings_page' %}" class="text-sm leading-none max-lg:leading-normal py-2.5 px-4 rounded-md duration-300 max-lg:!bg-transparent max-lg:hover:text-black max-lg:dark:hover:text-white {% if active == 'settings' %}text-black hover:text-black dark:text-white bg-white dark:bg-neutral-900 {% else %} text-gray-400 dark:text-white/50 dark:hover:text-white{% endif %} max-lg:w-full max-lg:py-3 max-lg:px-0">Settings</a>
      <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
    </nav>
  </div>
</div>
