<div class="flex items-center justify-center max-lg:w-full">
  <div class="hidden lg:flex items-center justify-center mx-6">
    <span class="leading-none inline-block h-5 w-[1px] rotate-[calc(45deg_/_2)] rounded-full bg-gray-300"></span>
  </div>

  <div class="navigationPart flex items-center justify-center max-lg:w-full max-lg:flex-col max-lg:px-6">
    <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
    <a href="{% url 'dashboard_overview_page' %}" class="text-xs leading-none max-lg:leading-normal py-2.5 px-4 rounded-md text-gray-400 hover:text-black dark:text-white/50 dark:hover:text-white hover:bg-white dark:hover:bg-neutral-900 max-lg:w-full max-lg:py-3 max-lg:px-0 max-lg:!bg-transparent duration-300">↜ Dashboard</a>
    <div class="hidden max-lg:inline-block w-full h-[1px] bg-black/15 dark:bg-white/15"></div>
  </div>
</div>
